$primary-main: #FF452B;
$primary-light: #ffdbd0;
$primary-dark: #b2301e;

$secondary-main: #FFF;
$secondary-light: #fff;
$secondary-dark: #fff;

$tertiary-main: #424242;
$tertiary-light: #717171;
$tertiary-dark: #292929;